In [1]:
!pip install nanoid

Collecting nanoid
  Using cached nanoid-2.0.0-py3-none-any.whl.metadata (3.5 kB)
Using cached nanoid-2.0.0-py3-none-any.whl (5.8 kB)
Installing collected packages: nanoid
Successfully installed nanoid-2.0.0

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000026C0DA6FAD0>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/nanoid/

In [3]:
import pandas as pd
import random
import numpy as np
import nanoid
import itertools
from datetime import datetime, timedelta

random.seed(42)

In [4]:
def generate_random_date(start_date, end_date):
    # Generate a random date between start_date and end_date
    delta = end_date - start_date
    random_days = random.randint(0, delta.days)
    random_date = start_date + timedelta(days=random_days)
    return random_date.strftime('%Y-%m-%d %H:%M:%S %z')  # Format to 'DD/MM/YY'

def generate_random_date2(start_date, end_date):
    # Generate a random date between start_date and end_date
    delta = end_date - start_date
    random_minute = random.randint(0, int(delta.total_seconds() // 60))
    random_date = start_date + timedelta(minutes=random_minute)
    return random_date.strftime('%Y-%m-%d %H:%M:%S %z')

In [5]:
brand_df = pd.read_csv('data-brand.csv')
brand_df

               brand  category_id  mcc_category_id
0          % ARABICA            1                2
1         101 COFFEE            1                2
2      KOPI KENANGAN            1                2
3        FORE COFFEE            1                2
4         JANJI JIWA            1                2
5               TUKU            1                2
6           212 MART            2                9
7           7 ELEVEN            2                9
8           ALFAMART            2                9
9           ALFAMIDI            2                9
10         INDOMARET            2                9
11         SUPERINDO            2                9
12         4 FINGERS            1                1
13               A&W            1                1
14       ABUBA STEAK            1                1
15               KFC            1                1
16       BURGER KING            1                1
17            SUBWAY            1                1
18          BAKMI GM            1                1
19           SOLARIA            1                1
20        DAPUR SOLO            1                1
21         YOSHINOYA            1                1
22     MARUGAME UDON            1                1
23         SUSHI TEI            1                1
24               H&M            2                3
25              ZARA            2                3
26          MATAHARI            2                3
27      POJOK BUSANA            2                3
28       PULL & BEAR            2                3
29            UNIQLO            2                3
30              IKEA            2                4
31           INFORMA            2                4
32               CGV            2                6
33               XXI            2                6
34         CINEMA 21            2                6
35           NETFLIX            2                6
36   DISNEY HOTSTARS            2                6
37         TRAVELOKA            3               12
38         TIKET.COM            3               12
39             AGODA            3               12
40            AIRBNB            3               12
41         TOKOPEDIA            5               20
42            SHOPEE            5               20
43            BLIBLI            5               20
44         BUKALAPAK            5               20
45            LAZADA            5               20
46            ZALORA            5               20
47  GARUDA INDONESIA            3               16
48          LION AIR            3               16
49         BATIK AIR            3               16
50          CITILINK            3               16

In [4]:
seg_df = pd.read_csv('segmentation_category_metrics.csv')
seg_df.head()

,ID,SEGMENTATION_ID,CATEGORY_ID,MCC_CATEGORY_ID,SCORE,UPDATE_BY,UPDATED_TIME,CREATED_BY,CREATED_TIME
0,a5ftpLr7uY1MIeWJtEGy9,2,2,7,1,Camdun,2024-11-12 11:15:21,Camdun,2024-11-12 11:15:21
1,LuUOZii4efQiWMqWJtfdN,2,1,1,2,Camdun,2024-11-12 11:15:21,Camdun,2024-11-12 11:15:21
2,DJSNOlxBknM6PljnlPqOO,2,2,4,3,Camdun,2024-11-12 11:15:21,Camdun,2024-11-12 11:15:21
3,feBGOYs2BDm1IEn0WHU5Q,2,7,25,4,Camdun,2024-11-12 11:15:21,Camdun,2024-11-12 11:15:21
4,9qpTRhV38BceLDAWUJmM3,2,7,29,5,Camdun,2024-11-12 11:15:21,Camdun,2024-11-12 11:15:21

In [5]:
data = {
    # 'BRAND': ['ALFAMART', 'INDOMARET', 'SUPERINDO', 'ERAFONE', 'IBOX', 'BARAYA', 'DAYTRANS', 'GRAPARI', 'GERAI IM3', 'IKEA', 'DECATHLON'],
    # 'CATEGORY_BO': list(range(1,9)), #['Food & Beverage', 'Lifestyle', 'Travel & Transportation', 'Gadget & Electronics', 'E-Commerce', 'Health & Beauty', 'Others/Miscellaneous', 'Telco'],
    # 'CATEGORY_DMA': list(range(1,37)),
    'AUM': list(range(2, 7)),
    'ACCOUNT_AGE': list(range(2, 7)),
    'SEGMENTATION': list(range(2,11)), #['All Segment', 'Working Professionals', 'Emerging Wealth', 'Wealthy Achievers', 'Young Gen & Early Jobber', 'Mature High Networth', 'Silver Ager', 'Minimal'],
    'RELIGION': list(range(2,9)), #['Islam', 'Christian', 'Catholic', 'Buddha', 'Hindu', 'Konghucu', 'Others'],
    'GENDER': [2, 3],
    'LOCATION': list(range(2, 16)), # ['Nasional', 'Balikpapan', 'Bandung', 'Denpasar', 'Jakarta', 'Makassar', 'Malang', 'Manado', 'Medan', 'Padang', 'Palembang', 'Papua', 'Semarang', 'Surabaya', 'Yogyakarta'],
    'TRANSACTION_TIME': list(range(2, 5)), # ['WEEKDAY - WORKING TIME', 'WEEKDAY - RESTING TIME', 'WEEKDAY - TRAVELING TIME', 'WEEKEND - WEEKEND'],
    'SCORE': list(range(1,11)),
    'TYPE': ["CATALOGUE", 'NOTIFICATION'],
    'IS_PRIORITY': [0, 1],
    "DAY_OF_WEEK": list(range(1,9))
}

# 1ST ATTEMPT

In [13]:
# Generate all combinations of list1 and list2
combinations = list(itertools.product(data['MCC_GROUP'], data['MERCHANT_CATEGORY']))

master_merchant = pd.DataFrame(combinations, columns=['MCC_GROUP', 'MERCHANT_CATEGORY'])
n = len(master_merchant)
times = datetime.now().strftime('%Y-%m-%d %H:%M:%S %z')
times
other = {
    'ID': [str(nanoid.generate(size=21)) for _ in range(n)],
    'UPDATE_BY': ['Camdun' for _ in range(n)],
    'UPDATED_TIME': [times for _ in range(n)],
    'CREATED_BY': ['Camdun' for _ in range(n)],
    'CREATED_TIME': [times for _ in range(n)]
}

for key, val in other.items():
    master_merchant[key] = other[key]

master_merchant = master_merchant[['ID', 'MCC_GROUP', 'MERCHANT_CATEGORY', 'UPDATE_BY', 'UPDATED_TIME', 'CREATED_BY', 'CREATED_TIME']]
master_merchant

,ID,MCC_GROUP,MERCHANT_CATEGORY,UPDATE_BY,UPDATED_TIME,CREATED_BY,CREATED_TIME
0,5MoVZH62G2oRsC2cLEe3S,ALFAMART,Food & Beverage,Camdun,2024-10-29 14:17:52,Camdun,2024-10-29 14:17:52
1,-ABdePyuPyFNlWFWFiNi0,ALFAMART,Lifestyle,Camdun,2024-10-29 14:17:52,Camdun,2024-10-29 14:17:52
2,ALxov1DqOpCgREHGgICQK,ALFAMART,Travel & Transportation,Camdun,2024-10-29 14:17:52,Camdun,2024-10-29 14:17:52
3,-AoahyXFSN3GeLvQDHiLz,ALFAMART,Gadget & Electronics,Camdun,2024-10-29 14:17:52,Camdun,2024-10-29 14:17:52
4,eAFSNvRMct6qokKycK7Kp,ALFAMART,E-Commerce,Camdun,2024-10-29 14:17:52,Camdun,2024-10-29 14:17:52
...,...,...,...,...,...,...,...
83,eoAY05_DcvgDawAUm-CO7,DECATHLON,Gadget & Electronics,Camdun,2024-10-29 14:17:52,Camdun,2024-10-29 14:17:52
84,q2eOlGaP8WhV0HmcCxsS_,DECATHLON,E-Commerce,Camdun,2024-10-29 14:17:52,Camdun,2024-10-29 14:17:52
85,0vusUJhj34oRReKWvWONY,DECATHLON,Health & Beauty,Camdun,2024-10-29 14:17:52,Camdun,2024-10-29 14:17:52
86,4ka_ot3lDyy5XJ3c2PI4-,DECATHLON,Others/Miscellaneous,Camdun,2024-10-29 14:17:52,Camdun,2024-10-29 14:17:52
87,OBX8PDmqijb0VxwH4kByS,DECATHLON,Telco,Camdun,2024-10-29 14:17:52,Camdun,2024-10-29 14:17:52

In [10]:
master_user_columns = ['ID','USER_ID','GENDER','RELIGION','TOTAL_ASSETS','ACCOUNT_AGE','TRANSACTION_TIME','SEGMENTATION','UPDATE_BY','UPDATED_TIME','CREATED_BY','CREATED_TIME']
n = 1000
master_user = pd.DataFrame({
    'ID'                : [str(nanoid.generate(size=21)) for _ in range(n)],
    'USER_ID'           : [f'USER_{i:04}' for i in range(n)],
    'GENDER'            : [random.choice(data['GENDER']) for _ in range(n)],
    'RELIGION'          : [random.choice(data['RELIGION']) for _ in range(n)],
    'TOTAL_ASSETS'      : [random.choice(data['ASSETS']) for _ in range(n)],
    'ACCOUNT_AGE'       : [random.choice(data['AGE']) for _ in range(n)],
    'TRANSACTION_TIME'  : [random.choice(data['TIME']) for _ in range(n)],
    'SEGMENTATION'      : [random.choice(data['SEGMENTATION']) for _ in range(n)],
    'UPDATE_BY'         : ['Camdun' for _ in range(n)],
    'UPDATED_TIME'      : [datetime.now().strftime('%H:%M:%S') for _ in range(n)],
    'CREATED_BY'        : ['Camdun' for _ in range(n)],
    'CREATED_TIME'      : [datetime.now().strftime('%H:%M:%S') for _ in range(n)]
})

master_user

,ID,USER_ID,GENDER,RELIGION,TOTAL_ASSETS,ACCOUNT_AGE,TRANSACTION_TIME,SEGMENTATION,UPDATE_BY,UPDATED_TIME,CREATED_BY,CREATED_TIME
0,6FCT6AtPkGDDmZFDFNh3-,USER_0000,M,Islam,5,5,WEEKDAY - RESTING TIME,Minimal,Camdun,19:46:07,Camdun,19:46:07
1,mnzFZFoC8UtMZQwZ7p8-7,USER_0001,M,Konghucu,1,2,WEEKDAY - WORKING TIME,Silver Ager,Camdun,19:46:07,Camdun,19:46:07
2,ADO0Z9xqfDb_cozpvw-ZO,USER_0002,F,Christian,2,3,WEEKDAY - RESTING TIME,Wealthy Achievers,Camdun,19:46:07,Camdun,19:46:07
3,rS3cddAF_Z24FXk_JXgEf,USER_0003,M,Konghucu,3,5,WEEKDAY - WORKING TIME,Silver Ager,Camdun,19:46:07,Camdun,19:46:07
4,dM_4KuNqMLRHV_tcx3J30,USER_0004,M,Konghucu,1,4,WEEKEND - WEEKEND,Mature High Networth,Camdun,19:46:07,Camdun,19:46:07
...,...,...,...,...,...,...,...,...,...,...,...,...
995,-IAouet_U5vhtRVKrX6D6,USER_0995,F,Buddha,1,5,WEEKDAY - TRAVELING TIME,Working Professionals,Camdun,19:46:07,Camdun,19:46:07
996,clILPCyOE3VdEA2y_CICB,USER_0996,F,Hindu,2,5,WEEKEND - WEEKEND,Minimal,Camdun,19:46:07,Camdun,19:46:07
997,PWKWNtYBKi8OfGXqlRLnY,USER_0997,M,Buddha,2,1,WEEKDAY - TRAVELING TIME,Mature High Networth,Camdun,19:46:07,Camdun,19:46:07
998,e80dha23rP0i14SE95nS3,USER_0998,M,Others,5,2,WEEKDAY - TRAVELING TIME,Working Professionals,Camdun,19:46:07,Camdun,19:46:07
999,UJL9WLwliYHb0dfJt0HIN,USER_0999,F,Buddha,2,2,WEEKDAY - RESTING TIME,Minimal,Camdun,19:46:07,Camdun,19:46:07

In [14]:
n = 10000
master_promo_1 = pd.DataFrame({
    'ID'                : [str(nanoid.generate(size=21)) for _ in range(n)],
    'PROMO_ID'          : [f'PROMO_{i:05}' for i in range(n)],
    'MCC_GROUP'         : [random.choice(data['MCC_GROUP']) for _ in range(n)],
    'MERCHANT_CATEGORY' : [random.choice(data['MERCHANT_CATEGORY']) for _ in range(n)],
    'RELIGION'          : [random.choice(data['RELIGION']) for _ in range(n)],
    'GENDER'            : [random.choice(data['GENDER']) for _ in range(n)],
    'SEGMENTATION'      : [random.choice(data['SEGMENTATION']) for _ in range(n)],
    'TOTAL_ASSETS'      : [random.choice(data['ASSETS']) for _ in range(n)],
    'ACCOUNT_AGE'       : [random.choice(data['AGE']) for _ in range(n)],
    'TRANSACTION_TIME'  : [random.choice(data['TIME']) for _ in range(n)],
    'START_DATE'        : [generate_random_date(datetime.strptime('01/11/2024', '%d/%m/%Y'), datetime.strptime('30/06/2025', '%d/%m/%Y')) for _ in range(n)],
    'END_DATE'          : [generate_random_date(datetime.strptime('31/07/2025', '%d/%m/%Y'), datetime.strptime('31/12/2025', '%d/%m/%Y')) for _ in range(n)],
    'UPDATE_BY'         : ['Camdun' for _ in range(n)],
    'UPDATED_TIME'      : [datetime.now().strftime('%H:%M:%S') for _ in range(n)],
    'CREATED_BY'        : ['Camdun' for _ in range(n)],
    'CREATED_TIME'      : [datetime.now().strftime('%H:%M:%S') for _ in range(n)]
})

master_promo_1

,ID,PROMO_ID,MCC_GROUP,MERCHANT_CATEGORY,RELIGION,GENDER,SEGMENTATION,TOTAL_ASSETS,ACCOUNT_AGE,TRANSACTION_TIME,START_DATE,END_DATE,UPDATE_BY,UPDATED_TIME,CREATED_BY,CREATED_TIME
0,Q-n1icBaHCUX5NXlkLO00,PROMO_00000,DECATHLON,Travel & Transportation,Catholic,F,Emerging Wealth,2,4,WEEKDAY - TRAVELING TIME,24/05/25,05/12/25,Camdun,19:56:05,Camdun,19:56:05
1,BtHw4asvBBm2fOaVyUm0y,PROMO_00001,INDOMARET,Food & Beverage,Others,M,Mature High Networth,1,1,WEEKDAY - WORKING TIME,23/01/25,27/12/25,Camdun,19:56:05,Camdun,19:56:05
2,xSoS4137NHOwF2JA35Q6P,PROMO_00002,ALFAMART,Lifestyle,Islam,F,Silver Ager,4,4,WEEKEND - WEEKEND,04/03/25,27/11/25,Camdun,19:56:05,Camdun,19:56:05
3,h-9Oc_jumOAF9IWuzkGQi,PROMO_00003,IBOX,Telco,Konghucu,M,Minimal,1,5,WEEKEND - WEEKEND,18/01/25,16/09/25,Camdun,19:56:05,Camdun,19:56:05
4,PmArVOFg6iHLFqOVIRg_m,PROMO_00004,ERAFONE,Health & Beauty,Islam,M,Emerging Wealth,1,5,WEEKDAY - RESTING TIME,13/03/25,22/11/25,Camdun,19:56:05,Camdun,19:56:05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,mnuzmq2Cts5By13t_QSY6,PROMO_09995,BARAYA,Travel & Transportation,Islam,F,Emerging Wealth,1,3,WEEKDAY - RESTING TIME,28/05/25,13/12/25,Camdun,19:56:05,Camdun,19:56:05
9996,JlEnaRsH0mhTEKIEaYoJK,PROMO_09996,DAYTRANS,Telco,Konghucu,M,Young Gen & Early Jobber,5,5,WEEKDAY - RESTING TIME,18/12/24,29/10/25,Camdun,19:56:05,Camdun,19:56:05
9997,kffOoC5vYDk22YddNtYrn,PROMO_09997,IKEA,Travel & Transportation,Catholic,F,All Segment,5,1,WEEKDAY - TRAVELING TIME,18/01/25,03/11/25,Camdun,19:56:05,Camdun,19:56:05
9998,IZk0dqU0LVEAkENRT8LRX,PROMO_09998,BARAYA,E-Commerce,Catholic,F,Mature High Networth,5,3,WEEKDAY - WORKING TIME,26/01/25,13/08/25,Camdun,19:56:05,Camdun,19:56:05
9999,TIWsHCrk3dqIS6pwEpWXf,PROMO_09999,DAYTRANS,Health & Beauty,Christian,M,Mature High Networth,2,4,WEEKDAY - RESTING TIME,07/05/25,17/10/25,Camdun,19:56:05,Camdun,19:56:05

In [86]:
list_col = ['ID',
 'PROMO_ID',
 'MCC_GROUP',
 'MERCHANT_CATEGORY',
 'RELIGION',
 'GENDER',
 'SEGMENTATION',
 'PROMO_LOCATION',
 'TOTAL_ASSETS',
 'ACCOUNT_AGE',
 'TRANSACTION_TIME',
 'START_DATE',
 'END_DATE',
 'UPDATE_BY',
 'UPDATED_TIME',
 'CREATED_BY',
 'CREATED_TIME']

In [87]:
n = 10000
master_promo_2 = master_promo_1.copy()
master_promo_2['PROMO_LOCATION'] = [random.choice(data['LOCATION']) for _ in range(n)]
master_promo_2 = master_promo_2[list_col]

master_promo_2

,ID,PROMO_ID,MCC_GROUP,MERCHANT_CATEGORY,RELIGION,GENDER,SEGMENTATION,PROMO_LOCATION,TOTAL_ASSETS,ACCOUNT_AGE,TRANSACTION_TIME,START_DATE,END_DATE,UPDATE_BY,UPDATED_TIME,CREATED_BY,CREATED_TIME
0,Q-n1icBaHCUX5NXlkLO00,PROMO_00000,DECATHLON,Travel & Transportation,Catholic,F,Emerging Wealth,Jakarta,2,4,WEEKDAY - TRAVELING TIME,24/05/25,05/12/25,Camdun,2024-10-25 21:41:06,Camdun,2024-10-25 21:41:06
1,BtHw4asvBBm2fOaVyUm0y,PROMO_00001,INDOMARET,Food & Beverage,Others,M,Mature High Networth,Makassar,1,1,WEEKDAY - WORKING TIME,23/01/25,27/12/25,Camdun,2024-10-25 21:41:06,Camdun,2024-10-25 21:41:06
2,xSoS4137NHOwF2JA35Q6P,PROMO_00002,ALFAMART,Lifestyle,Islam,F,Silver Ager,Malang,4,4,WEEKEND - WEEKEND,04/03/25,27/11/25,Camdun,2024-10-25 21:41:06,Camdun,2024-10-25 21:41:06
3,h-9Oc_jumOAF9IWuzkGQi,PROMO_00003,IBOX,Telco,Konghucu,M,Minimal,Makassar,1,5,WEEKEND - WEEKEND,18/01/25,16/09/25,Camdun,2024-10-25 21:41:06,Camdun,2024-10-25 21:41:06
4,PmArVOFg6iHLFqOVIRg_m,PROMO_00004,ERAFONE,Health & Beauty,Islam,M,Emerging Wealth,Padang,1,5,WEEKDAY - RESTING TIME,13/03/25,22/11/25,Camdun,2024-10-25 21:41:06,Camdun,2024-10-25 21:41:06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,mnuzmq2Cts5By13t_QSY6,PROMO_09995,BARAYA,Travel & Transportation,Islam,F,Emerging Wealth,Manado,1,3,WEEKDAY - RESTING TIME,28/05/25,13/12/25,Camdun,2024-10-25 21:41:06,Camdun,2024-10-25 21:41:06
9996,JlEnaRsH0mhTEKIEaYoJK,PROMO_09996,DAYTRANS,Telco,Konghucu,M,Young Gen & Early Jobber,Medan,5,5,WEEKDAY - RESTING TIME,18/12/24,29/10/25,Camdun,2024-10-25 21:41:06,Camdun,2024-10-25 21:41:06
9997,kffOoC5vYDk22YddNtYrn,PROMO_09997,IKEA,Travel & Transportation,Catholic,F,All Segment,Makassar,5,1,WEEKDAY - TRAVELING TIME,18/01/25,03/11/25,Camdun,2024-10-25 21:41:06,Camdun,2024-10-25 21:41:06
9998,IZk0dqU0LVEAkENRT8LRX,PROMO_09998,BARAYA,E-Commerce,Catholic,F,Mature High Networth,Papua,5,3,WEEKDAY - WORKING TIME,26/01/25,13/08/25,Camdun,2024-10-25 21:41:06,Camdun,2024-10-25 21:41:06
9999,TIWsHCrk3dqIS6pwEpWXf,PROMO_09999,DAYTRANS,Health & Beauty,Christian,M,Mature High Networth,Jakarta,2,4,WEEKDAY - RESTING TIME,07/05/25,17/10/25,Camdun,2024-10-25 21:41:06,Camdun,2024-10-25 21:41:06

In [33]:
n = int(5e6)
# time = datetime.now().strftime('%Y-%m-%d %H:%M:%S.%f')
transaction_dma = pd.DataFrame({
    'ID'                : [str(nanoid.generate(size=21)) for _ in range(n)],
    'USER_ID'           : [random.choice(master_user['USER_ID']) for _ in range(n)],
    'MCC_GROUP'         : [random.choice(data['MCC_GROUP']) for _ in range(n)],
    'MERCHANT_CATEGORY' : [random.choice(data['MERCHANT_CATEGORY']) for _ in range(n)],
    'RANKING'           : [random.choice(data['RANKING']) for _ in range(n)],
    'UPDATE_BY'         : ['Camdun' for _ in range(n)],
    'UPDATED_TIME'      : [datetime.now().strftime('%Y-%m-%d %H:%M:%S.%f') for _ in range(n)],
    'CREATED_BY'        : ['Camdun' for _ in range(n)],
    'CREATED_TIME'      : [datetime.now().strftime('%Y-%m-%d %H:%M:%S.%f') for _ in range(n)]
})

transaction_dma

,ID,USER_ID,MCC_GROUP,MERCHANT_CATEGORY,RANKING,UPDATE_BY,UPDATED_TIME,CREATED_BY,CREATED_TIME
0,hVPqvJbCyey59XAFKTg6Q,USER_0579,IBOX,Others/Miscellaneous,3,Camdun,20:14:52,Camdun,20:15:37
1,h-_cJmammhsp9ALw79Rg5,USER_0252,DAYTRANS,E-Commerce,7,Camdun,20:14:52,Camdun,20:15:37
2,Wsfhn0VVvXLghJONDo5Jg,USER_0383,GRAPARI,Health & Beauty,4,Camdun,20:14:52,Camdun,20:15:37
3,XdikvOvdauyPrJB8AlQwL,USER_0508,SUPERINDO,Health & Beauty,10,Camdun,20:14:52,Camdun,20:15:37
4,WELCd0VvyYI8n7l9fZc4Y,USER_0292,GERAI IM3,Others/Miscellaneous,3,Camdun,20:14:52,Camdun,20:15:37
...,...,...,...,...,...,...,...,...,...
4999995,O6cLj5lr5koo_o2xQxb7o,USER_0913,DAYTRANS,Gadget & Electronics,2,Camdun,20:15:37,Camdun,20:16:27
4999996,o9520lJFHSIy_RmViT7z8,USER_0233,BARAYA,Telco,9,Camdun,20:15:37,Camdun,20:16:27
4999997,DQ6ofPr3JH6TciNEpSvec,USER_0349,INDOMARET,Lifestyle,6,Camdun,20:15:37,Camdun,20:16:27
4999998,b8yBotgQvdsV9bnZ3atTw,USER_0362,GERAI IM3,Gadget & Electronics,9,Camdun,20:15:37,Camdun,20:16:27
4999999,Np1SJPBJNKS87c4AgNchf,USER_0668,IKEA,Food & Beverage,3,Camdun,20:15:37,Camdun,20:16:27

In [88]:
# master_merchant.to_csv('master_merchant.csv', index=False)
# master_user.to_csv('master_user.csv', index=False)
# master_promo_1.to_csv('master_promo_1.csv', index=False)
master_promo_2.to_csv('master_promo_2.csv', index=False)
# transaction_dma.to_csv('transaction_dma.csv', index=False)

In [70]:
times = datetime.now().strftime('%Y-%m-%d %H:%M:%S %z')
print(times)

2024-10-25 21:40:30

# 2ND ATTEMPT

In [6]:
# master_user = pd.read_csv('master_user.csv')
times = datetime.now().strftime('%Y-%m-%d %H:%M:%S %z')

n = 100
user_properties = pd.DataFrame({
    'ID'                : [str(nanoid.generate(size=21)) for _ in range(n)],
    'USER_ID'           : [f'USER_{i:04}' for i in range(n)],
    'GENDER'            : [random.choice(data['GENDER']) for _ in range(n)],
    'RELIGION'          : [random.choice(data['RELIGION']) for _ in range(n)],
    'AUM'      : [random.choice(data['AUM']) for _ in range(n)],
    'ACCOUNT_AGE'       : [random.choice(data['ACCOUNT_AGE']) for _ in range(n)],
    'TRANSACTION_TIME'  : [random.choice(data['TRANSACTION_TIME']) for _ in range(n)],
    'SEGMENTATION'      : [random.choice(data['SEGMENTATION']) for _ in range(n)],
    'UPDATE_BY'         : ['Camdun' for _ in range(n)],
    'UPDATED_TIME'      : [times for _ in range(n)],
    'CREATED_BY'        : ['Camdun' for _ in range(n)],
    'CREATED_TIME'      : [times for _ in range(n)]
})

user_properties

,ID,USER_ID,GENDER,RELIGION,AUM,ACCOUNT_AGE,TRANSACTION_TIME,SEGMENTATION,UPDATE_BY,UPDATED_TIME,CREATED_BY,CREATED_TIME
0,o3qNwMY8x4t8RCbMtNrVd,USER_0000,2,2,5,5,3,1,Camdun,2024-11-06 15:36:38,Camdun,2024-11-06 15:36:38
1,77RA_D8j9fHG84W_aflek,USER_0001,1,5,3,4,3,2,Camdun,2024-11-06 15:36:38,Camdun,2024-11-06 15:36:38
2,bV2hXXsgv15PUhtc3f8nG,USER_0002,3,1,5,3,2,1,Camdun,2024-11-06 15:36:38,Camdun,2024-11-06 15:36:38
3,5AfYozz8qcK12JIz7K_6D,USER_0003,1,5,6,4,1,4,Camdun,2024-11-06 15:36:38,Camdun,2024-11-06 15:36:38
4,w3Kio8inf0VpDWE3VMg_v,USER_0004,2,4,2,2,3,2,Camdun,2024-11-06 15:36:38,Camdun,2024-11-06 15:36:38
...,...,...,...,...,...,...,...,...,...,...,...,...
95,RHrI44VvxJjJ1xxMBH8oj,USER_0095,3,2,6,5,2,8,Camdun,2024-11-06 15:36:38,Camdun,2024-11-06 15:36:38
96,o5xniupMtTuzAh2lmaTme,USER_0096,1,6,2,6,3,4,Camdun,2024-11-06 15:36:38,Camdun,2024-11-06 15:36:38
97,KRLYvsHrJY4av6NyJOM8p,USER_0097,2,4,4,3,3,3,Camdun,2024-11-06 15:36:38,Camdun,2024-11-06 15:36:38
98,jw3ihQqqdGWnoMX5YaJCR,USER_0098,2,7,2,4,2,1,Camdun,2024-11-06 15:36:38,Camdun,2024-11-06 15:36:38
99,Rz2H_YuTAFysNt6_sYH-Z,USER_0099,1,7,2,3,1,4,Camdun,2024-11-06 15:36:38,Camdun,2024-11-06 15:36:38

In [8]:
combinations = list(itertools.product(data['SEGMENTATION'], data['SCORE']))
n = len(combinations)
print(n)
print(combinations)

80
[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (1, 10), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (2, 10), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (3, 10), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (4, 10), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (5, 8), (5, 9), (5, 10), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7), (6, 8), (6, 9), (6, 10), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7), (7, 8), (7, 9), (7, 10), (8, 1), (8, 2), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7), (8, 8), (8, 9), (8, 10)]

In [12]:
# Generate all combinations of list1 and list2
combinations = list(itertools.product(data['SEGMENTATION'], data['SCORE']))

promo_segmentation = pd.DataFrame(combinations, columns=['SEGMENTATION', 'SCORE'])
n = len(promo_segmentation)
times = datetime.now().strftime('%Y-%m-%d %H:%M:%S %z')

other = {
    'ID'                : [str(nanoid.generate(size=21)) for _ in range(n)],
    'CATEGORY_DMA'      : [random.choice(data['CATEGORY_DMA']) for _ in range(n)],
    'CATEGORY_BO'       : [random.choice(data['CATEGORY_BO']) for _ in range(n)],
    'UPDATE_BY'         : ['Camdun' for _ in range(n)],
    'UPDATED_TIME'      : [times for _ in range(n)],
    'CREATED_BY'        : ['Camdun' for _ in range(n)],
    'CREATED_TIME'      : [times for _ in range(n)]
}


for key, val in other.items():
    promo_segmentation[key] = other[key]

promo_segmentation = promo_segmentation[['ID', 'SEGMENTATION', 'CATEGORY_DMA', 'CATEGORY_BO', 'SCORE','UPDATE_BY', 'UPDATED_TIME', 'CREATED_BY', 'CREATED_TIME']]
promo_segmentation

,ID,SEGMENTATION,CATEGORY_DMA,CATEGORY_BO,SCORE,UPDATE_BY,UPDATED_TIME,CREATED_BY,CREATED_TIME
0,DKpO4s_yYlSNYJKf1zGt5,1,9,5,1,Camdun,2024-11-06 15:45:08,Camdun,2024-11-06 15:45:08
1,-OptROfi_5a31oSPcMMMj,1,36,2,2,Camdun,2024-11-06 15:45:08,Camdun,2024-11-06 15:45:08
2,lyE5sOkltM9D6SbVP59M3,1,3,7,3,Camdun,2024-11-06 15:45:08,Camdun,2024-11-06 15:45:08
3,uJ5GMj0-Z2RngKa7C8kf-,1,12,6,4,Camdun,2024-11-06 15:45:08,Camdun,2024-11-06 15:45:08
4,kV5hLHMCNXUH5Ol99nUl3,1,17,2,5,Camdun,2024-11-06 15:45:08,Camdun,2024-11-06 15:45:08
...,...,...,...,...,...,...,...,...,...
75,W0o2j5UF8kW1K4rkZZp9F,8,16,5,6,Camdun,2024-11-06 15:45:08,Camdun,2024-11-06 15:45:08
76,P4V2-0JwRq516I-vQyNvY,8,32,3,7,Camdun,2024-11-06 15:45:08,Camdun,2024-11-06 15:45:08
77,Z60LIDrfyQu_yNrsVH012,8,7,3,8,Camdun,2024-11-06 15:45:08,Camdun,2024-11-06 15:45:08
78,f45NUn_8qtEAkpftm8bsZ,8,22,5,9,Camdun,2024-11-06 15:45:08,Camdun,2024-11-06 15:45:08
79,svRcQqjZSQu_lR1Znl_FF,8,2,4,10,Camdun,2024-11-06 15:45:08,Camdun,2024-11-06 15:45:08

In [14]:
# Generate all combinations of list1 and list2
combinations = list(itertools.product(user_properties['USER_ID'], data['SCORE']))

promo_brand = pd.DataFrame(combinations, columns=['USER_ID', 'SCORE'])
n = len(promo_brand)
times = datetime.now().strftime('%Y-%m-%d %H:%M:%S %z')

other = {
    'ID'                : [str(nanoid.generate(size=21)) for _ in range(n)],
    'BRAND'             : [random.choice(data['BRAND']) for _ in range(n)],
    'CATEGORY_DMA'      : [random.choice(data['CATEGORY_DMA']) for _ in range(n)],
    'CATEGORY_BO'       : [random.choice(data['CATEGORY_BO']) for _ in range(n)],
    'UPDATE_BY'         : ['Camdun' for _ in range(n)],
    'UPDATED_TIME'      : [times for _ in range(n)],
    'CREATED_BY'        : ['Camdun' for _ in range(n)],
    'CREATED_TIME'      : [times for _ in range(n)]
}


for key, val in other.items():
    promo_brand[key] = other[key]

promo_brand = promo_brand[['ID', 'USER_ID', 'BRAND', 'CATEGORY_DMA', 'CATEGORY_BO', 'SCORE','UPDATE_BY', 'UPDATED_TIME', 'CREATED_BY', 'CREATED_TIME']]
promo_brand


# times = datetime.now().strftime('%Y-%m-%d %H:%M:%S %z')
# n = int(1e5)
# promo_brand = pd.DataFrame({
#     'ID'                : [str(nanoid.generate(size=21)) for _ in range(n)],
#     'USER_ID'           : [random.choice(user_properties['USER_ID']) for i in range(n)],
#     'BRAND'             : [random.choice(data['BRAND']) for _ in range(n)],
#     'CATEGORY_DMA'      : [random.choice(data['CATEGORY_DMA']) for _ in range(n)],
#     'CATEGORY_BO'       : [random.choice(data['CATEGORY_BO']) for _ in range(n)],
#     'SCORE'             : [random.choice(data['SCORE']) for _ in range(n)],
#     'UPDATE_BY'         : ['Camdun' for _ in range(n)],
#     'UPDATED_TIME'      : [times for _ in range(n)],
#     'CREATED_BY'        : ['Camdun' for _ in range(n)],
#     'CREATED_TIME'      : [times for _ in range(n)]
# })
# promo_brand

,ID,USER_ID,BRAND,CATEGORY_DMA,CATEGORY_BO,SCORE,UPDATE_BY,UPDATED_TIME,CREATED_BY,CREATED_TIME
0,7HQD9fKZyK4rNqr7m6YLc,USER_0000,ERAFONE,27,4,1,Camdun,2024-11-06 15:48:13,Camdun,2024-11-06 15:48:13
1,qomuiX41XA1cpB2cRtcqS,USER_0000,BARAYA,25,2,2,Camdun,2024-11-06 15:48:13,Camdun,2024-11-06 15:48:13
2,O7Yd5Xqa3oPUIU3tuXRRW,USER_0000,DAYTRANS,21,1,3,Camdun,2024-11-06 15:48:13,Camdun,2024-11-06 15:48:13
3,0RqjILemkgWqblVJwq9k8,USER_0000,GRAPARI,29,3,4,Camdun,2024-11-06 15:48:13,Camdun,2024-11-06 15:48:13
4,7BLNhFuYk8kF7CsUokVmR,USER_0000,ALFAMART,11,8,5,Camdun,2024-11-06 15:48:13,Camdun,2024-11-06 15:48:13
...,...,...,...,...,...,...,...,...,...,...
995,wIvzDtri7kDrHMLl-rBDC,USER_0099,GRAPARI,9,3,6,Camdun,2024-11-06 15:48:13,Camdun,2024-11-06 15:48:13
996,9oz0F9JOvc5-fm6TFTlUb,USER_0099,DECATHLON,15,8,7,Camdun,2024-11-06 15:48:13,Camdun,2024-11-06 15:48:13
997,dLH5kLLrA7Tj8t60JfqKc,USER_0099,INDOMARET,12,8,8,Camdun,2024-11-06 15:48:13,Camdun,2024-11-06 15:48:13
998,itE9r-Y6AW8VVOiqgR17m,USER_0099,ERAFONE,10,4,9,Camdun,2024-11-06 15:48:13,Camdun,2024-11-06 15:48:13
999,2SmfBrwiPq1qByM5kJsQx,USER_0099,DECATHLON,4,3,10,Camdun,2024-11-06 15:48:13,Camdun,2024-11-06 15:48:13

In [15]:
times = datetime.now().strftime('%Y-%m-%d %H:%M:%S %z')
n = int(1e5)
master_promo = pd.DataFrame({
    'ID'                : [str(nanoid.generate(size=21)) for _ in range(n)],
    'PROMO_ID'          : [f'PROMO_{i:05}' for i in range(n)],
    'BRAND'             : [random.choice(data['BRAND']) for _ in range(n)],
    'CATEGORY_DMA'      : [random.choice(data['CATEGORY_DMA']) for _ in range(n)],
    'CATEGORY_BO'          : [random.choice(data['CATEGORY_BO']) for _ in range(n)],
    'RELIGION'          : [random.choice(data['RELIGION']) for _ in range(n)],
    'GENDER'            : [random.choice(data['GENDER']) for _ in range(n)],
    'SEGMENTATION'      : [random.choice(data['SEGMENTATION']) for _ in range(n)],
    'PROMO_LOCATION'    : [random.choice(data['LOCATION']) for _ in range(n)],
    'AUM'               : [random.choice(data['AUM']) for _ in range(n)],
    'ACCOUNT_AGE'       : [random.choice(data['ACCOUNT_AGE']) for _ in range(n)],
    'TRANSACTION_TIME'  : [random.choice(data['TRANSACTION_TIME']) for _ in range(n)],
    'START_DATE'        : [generate_random_date(datetime.strptime('01/11/2024', '%d/%m/%Y'), datetime.strptime('30/06/2025', '%d/%m/%Y')) for _ in range(n)],
    'END_DATE'          : [generate_random_date(datetime.strptime('31/07/2025', '%d/%m/%Y'), datetime.strptime('31/12/2025', '%d/%m/%Y')) for _ in range(n)],
    'TYPE'              : [random.choice(data['TYPE']) for _ in range(n)],
    'IS_PRIORITY'       : [random.choice(data['IS_PRIORITY']) for _ in range(n)],
    'IS_OTHER'          : [random.choice(data['IS_PRIORITY']) for _ in range(n)],
    'IS_COMING_SOON'       : [random.choice(data['IS_PRIORITY']) for _ in range(n)],
    'IS_DELETED'          : [random.choice(data['IS_PRIORITY']) for _ in range(n)],
    'DAY_OF_WEEK'       : [random.choice(data['DAY_OF_WEEK']) for _ in range(n)],
    'UPDATE_BY'         : ['Camdun' for _ in range(n)],
    'UPDATED_TIME'      : [times for _ in range(n)],
    'CREATED_BY'        : ['Camdun' for _ in range(n)],
    'CREATED_TIME'      : [times for _ in range(n)]
})
master_promo

,ID,PROMO_ID,BRAND,CATEGORY_DMA,CATEGORY_BO,RELIGION,GENDER,SEGMENTATION,PROMO_LOCATION,AUM,...,TYPE,IS_PRIORITY,IS_OTHER,IS_COMING_SOON,IS_DELETED,DAY_OF_WEEK,UPDATE_BY,UPDATED_TIME,CREATED_BY,CREATED_TIME
0,EFcO6dQxYmyKr43UN3XOr,PROMO_00000,DECATHLON,4,3,5,3,6,6,1,...,2,1,1,1,0,3,Camdun,2024-11-06 15:56:50,Camdun,2024-11-06 15:56:50
1,95NEklZswxCqedfMA94B0,PROMO_00001,DAYTRANS,21,5,8,1,1,15,4,...,2,1,0,0,0,6,Camdun,2024-11-06 15:56:50,Camdun,2024-11-06 15:56:50
2,zRuXyQL1pKZbjR7gqyXgQ,PROMO_00002,IBOX,2,6,5,1,2,14,2,...,2,0,0,1,0,6,Camdun,2024-11-06 15:56:50,Camdun,2024-11-06 15:56:50
3,d9KjW79xH99YcDNTthuuQ,PROMO_00003,DAYTRANS,18,3,2,2,2,13,5,...,1,1,0,1,0,2,Camdun,2024-11-06 15:56:50,Camdun,2024-11-06 15:56:50
4,5cfnCLA-Je6J7_U9cKdqe,PROMO_00004,ALFAMART,29,1,8,2,6,14,4,...,2,1,0,0,0,2,Camdun,2024-11-06 15:56:50,Camdun,2024-11-06 15:56:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,5nZhm1mJFRqtf4sVD9cxe,PROMO_99995,DECATHLON,11,8,7,1,5,7,6,...,1,1,1,0,0,8,Camdun,2024-11-06 15:56:50,Camdun,2024-11-06 15:56:50
99996,ROHfIRi7ceugAbFQ_67VA,PROMO_99996,ALFAMART,23,8,6,2,7,15,6,...,2,1,1,0,0,2,Camdun,2024-11-06 15:56:50,Camdun,2024-11-06 15:56:50
99997,ox9ff8o5MLWXU6pp7lOqx,PROMO_99997,DAYTRANS,21,1,8,1,4,3,2,...,1,1,1,0,0,8,Camdun,2024-11-06 15:56:50,Camdun,2024-11-06 15:56:50
99998,Sy8NUbx1788cEp-1fraCn,PROMO_99998,SUPERINDO,6,5,2,1,8,15,3,...,2,1,1,1,0,2,Camdun,2024-11-06 15:56:50,Camdun,2024-11-06 15:56:50
99999,XgDnNYXoqJFTi48hoKfOr,PROMO_99999,ERAFONE,19,2,4,2,3,7,2,...,1,0,1,0,0,4,Camdun,2024-11-06 15:56:50,Camdun,2024-11-06 15:56:50

In [16]:
user_properties.to_csv('user_properties.csv', index=False)
promo_segmentation.to_csv('promo_segmentation.csv', index=False)
promo_brand.to_csv('promo_brand.csv', index=False)
master_promo.to_csv('master_promo.csv', index=False)

# 3rd ATTEMPT

In [7]:
n = int(25e6)
times = datetime.now().strftime('%Y-%m-%d %H:%M:%S %z')

master_user = pd.DataFrame({
    'ID'                  : [str(nanoid.generate(size=21)) for _ in range(n)],
    'GENDER_ID'           : [random.choice(data['GENDER']) for _ in range(n)],
    'RELIGION_ID'         : [random.choice(data['RELIGION']) for _ in range(n)],
    'SEGMENTATION_ID'     : [random.choice(data['SEGMENTATION']) for _ in range(n)],
    'AUM_ID'              : [random.choice(data['AUM']) for _ in range(n)],
    'ACCOUNT_AGE_ID'      : [random.choice(data['ACCOUNT_AGE']) for _ in range(n)],
    'TRANSACTION_TIME_ID' : [random.choice(data['TRANSACTION_TIME']) for _ in range(n)],
    'LOCATION_ID'         : [random.choice(data['LOCATION']) for _ in range(n)],
    'UPDATE_BY'           : ['Camdun' for _ in range(n)],
    'UPDATED_TIME'        : [times for _ in range(n)],
    'CREATED_BY'          : ['Camdun' for _ in range(n)],
    'CREATED_TIME'        : [times for _ in range(n)]
})

master_user

,ID,GENDER_ID,RELIGION_ID,SEGMENTATION_ID,AUM_ID,ACCOUNT_AGE_ID,TRANSACTION_TIME_ID,LOCATION_ID,UPDATE_BY,UPDATED_TIME,CREATED_BY,CREATED_TIME
0,EGLsn62U2J023_pa_UYaz,2,4,4,4,5,3,2,Camdun,2025-01-20 16:29:58,Camdun,2025-01-20 16:29:58
1,cgX6sQKZCiVOZO3vLXJcC,2,6,9,2,4,4,13,Camdun,2025-01-20 16:29:58,Camdun,2025-01-20 16:29:58
2,a606VJM_xVpivJ56z2m5f,3,6,9,6,4,3,3,Camdun,2025-01-20 16:29:58,Camdun,2025-01-20 16:29:58
3,9lS-R7u6Rk_jt2rXmiBBE,2,4,10,5,4,4,5,Camdun,2025-01-20 16:29:58,Camdun,2025-01-20 16:29:58
4,bKOR8Uy31ciGdCcZ1S9nw,2,8,8,4,3,3,8,Camdun,2025-01-20 16:29:58,Camdun,2025-01-20 16:29:58
...,...,...,...,...,...,...,...,...,...,...,...,...
24999995,IYqWZZtfEC8WHhm17dd7W,2,2,10,6,5,2,15,Camdun,2025-01-20 16:29:58,Camdun,2025-01-20 16:29:58
24999996,j7zsMvZnsy1gWI3uSvSCq,3,6,6,4,2,2,11,Camdun,2025-01-20 16:29:58,Camdun,2025-01-20 16:29:58
24999997,5z1jgM-duvCF2-0t9LD6g,2,4,2,3,6,4,5,Camdun,2025-01-20 16:29:58,Camdun,2025-01-20 16:29:58
24999998,0elUwQYjtZzsyXux0Fxkn,2,4,6,6,6,4,4,Camdun,2025-01-20 16:29:58,Camdun,2025-01-20 16:29:58
24999999,lzIdB9IaIUIOrdfL-wO72,2,7,4,6,6,2,12,Camdun,2025-01-20 16:29:58,Camdun,2025-01-20 16:29:58

In [ ]:
# Generate all combinations of list1 and list2
combinations = list(itertools.product(master_user['ID'], data['SCORE']))

USER_BRAND_METRICS = pd.DataFrame(combinations, columns=['USER_ID', 'SCORE'])
n = len(USER_BRAND_METRICS)
times = datetime.now().strftime('%Y-%m-%d %H:%M:%S %z')

other = {
    'ID'                : [str(nanoid.generate(size=21)) for _ in range(n)],
    'UPDATE_BY'         : ['Camdun' for _ in range(n)],
    'UPDATED_TIME'      : [times for _ in range(n)],
    'CREATED_BY'        : ['Camdun' for _ in range(n)],
    'CREATED_TIME'      : [times for _ in range(n)]
}

brands = [random.choice(brand_df.values) for _ in range(n)]

USER_BRAND_METRICS[['BRAND', 'CATEGORY_ID', 'MCC_CATEGORY_ID']] = brands


for key, val in other.items():
    USER_BRAND_METRICS[key] = other[key]

USER_BRAND_METRICS = USER_BRAND_METRICS[['ID',
 'USER_ID',
 'BRAND',
 'CATEGORY_ID',
 'MCC_CATEGORY_ID',
 'SCORE',
 'UPDATE_BY',
 'UPDATED_TIME',
 'CREATED_BY',
 'CREATED_TIME']]

USER_BRAND_METRICS

,ID,USER_ID,BRAND,CATEGORY_ID,MCC_CATEGORY_ID,SCORE,UPDATE_BY,UPDATED_TIME,CREATED_BY,CREATED_TIME
0,bejfGCXqREK8WAHh6TlbG,bJOifZEgNolpQWJjM2NIm,101 COFFEE,1,2,1,Camdun,2024-11-12 11:11:10,Camdun,2024-11-12 11:11:10
1,3-Pjyr5DwK5SC5t_9Gc-u,bJOifZEgNolpQWJjM2NIm,YOSHINOYA,1,1,2,Camdun,2024-11-12 11:11:10,Camdun,2024-11-12 11:11:10
2,ITMSw5YFKN_hckWRev2xC,bJOifZEgNolpQWJjM2NIm,TOKOPEDIA,5,20,3,Camdun,2024-11-12 11:11:10,Camdun,2024-11-12 11:11:10
3,L1pCYYAWhmJ1H6B3R4Lk_,bJOifZEgNolpQWJjM2NIm,212 MART,2,9,4,Camdun,2024-11-12 11:11:10,Camdun,2024-11-12 11:11:10
4,53eWStD5JE_8PgN62Uo9M,bJOifZEgNolpQWJjM2NIm,BLIBLI,5,20,5,Camdun,2024-11-12 11:11:10,Camdun,2024-11-12 11:11:10
...,...,...,...,...,...,...,...,...,...,...
995,AJW3rQrfQhkB716HXjXGP,t72B9AgjMC7uc3Aia9EEI,BUKALAPAK,5,20,6,Camdun,2024-11-12 11:11:10,Camdun,2024-11-12 11:11:10
996,c43Sk5qdlp4QhQ64IOwzU,t72B9AgjMC7uc3Aia9EEI,JANJI JIWA,1,2,7,Camdun,2024-11-12 11:11:10,Camdun,2024-11-12 11:11:10
997,A5IK7rlZtYF7cOUaiXg64,t72B9AgjMC7uc3Aia9EEI,MARUGAME UDON,1,1,8,Camdun,2024-11-12 11:11:10,Camdun,2024-11-12 11:11:10
998,vfscK_Ft_y0-2QSEN9lRt,t72B9AgjMC7uc3Aia9EEI,BURGER KING,1,1,9,Camdun,2024-11-12 11:11:10,Camdun,2024-11-12 11:11:10
999,Z7H5mskb_SKxbU8w8B98f,t72B9AgjMC7uc3Aia9EEI,CITILINK,3,16,10,Camdun,2024-11-12 11:11:10,Camdun,2024-11-12 11:11:10

In [18]:
# Generate all combinations of list1 and list2
combinations = list(itertools.product(data['SEGMENTATION'], data['SCORE']))

SEGMENTATION_CATEGORY_METRICS = pd.DataFrame(combinations, columns=['SEGMENTATION_ID', 'SCORE'])
n = len(SEGMENTATION_CATEGORY_METRICS)
times = datetime.now().strftime('%Y-%m-%d %H:%M:%S %z')

other = {
    'ID'                : [str(nanoid.generate(size=21)) for _ in range(n)],
    'UPDATE_BY'         : ['Camdun' for _ in range(n)],
    'UPDATED_TIME'      : [times for _ in range(n)],
    'CREATED_BY'        : ['Camdun' for _ in range(n)],
    'CREATED_TIME'      : [times for _ in range(n)]
}

SEGMENT = [random.choice(seg_df.values) for _ in range(n)]

SEGMENTATION_CATEGORY_METRICS[['CATEGORY_ID', 'MCC_CATEGORY_ID']] = SEGMENT

for key, val in other.items():
    SEGMENTATION_CATEGORY_METRICS[key] = other[key]

SEGMENTATION_CATEGORY_METRICS = SEGMENTATION_CATEGORY_METRICS[['ID',
 'SEGMENTATION_ID',
 'CATEGORY_ID',
 'MCC_CATEGORY_ID',
 'SCORE',
 'UPDATE_BY',
 'UPDATED_TIME',
 'CREATED_BY',
 'CREATED_TIME']]

SEGMENTATION_CATEGORY_METRICS

,ID,SEGMENTATION_ID,CATEGORY_ID,MCC_CATEGORY_ID,SCORE,UPDATE_BY,UPDATED_TIME,CREATED_BY,CREATED_TIME
0,a5ftpLr7uY1MIeWJtEGy9,2,2,7,1,Camdun,2024-11-12 11:15:21,Camdun,2024-11-12 11:15:21
1,LuUOZii4efQiWMqWJtfdN,2,1,1,2,Camdun,2024-11-12 11:15:21,Camdun,2024-11-12 11:15:21
2,DJSNOlxBknM6PljnlPqOO,2,2,4,3,Camdun,2024-11-12 11:15:21,Camdun,2024-11-12 11:15:21
3,feBGOYs2BDm1IEn0WHU5Q,2,7,25,4,Camdun,2024-11-12 11:15:21,Camdun,2024-11-12 11:15:21
4,9qpTRhV38BceLDAWUJmM3,2,7,29,5,Camdun,2024-11-12 11:15:21,Camdun,2024-11-12 11:15:21
...,...,...,...,...,...,...,...,...,...
85,Lhm3oZT5br5m5eZothFiw,10,7,24,6,Camdun,2024-11-12 11:15:21,Camdun,2024-11-12 11:15:21
86,zcTr6PMBqy4Gk9XnUnt76,10,7,25,7,Camdun,2024-11-12 11:15:21,Camdun,2024-11-12 11:15:21
87,iwBs3hititoIkl3cuMIvD,10,7,24,8,Camdun,2024-11-12 11:15:21,Camdun,2024-11-12 11:15:21
88,DpyHt7uNIRs15XITyctnn,10,3,12,9,Camdun,2024-11-12 11:15:21,Camdun,2024-11-12 11:15:21
89,aCNHNAFN8tMaQd27tBSEk,10,7,29,10,Camdun,2024-11-12 11:15:21,Camdun,2024-11-12 11:15:21

In [50]:
n = 102

master_promo = pd.DataFrame({
    'ID'                    : [str(nanoid.generate(size=21)) for _ in range(n)],
    'TITLE'                 : ["test data" for _ in range(n)],
    'DESCRIPTION'           : ["test data" for _ in range(n)],
    'DESCRIPTION_DETAIL'    : ["test data" for _ in range(n)],
    'TERM_CONDITION'        : ["test data" for _ in range(n)],
    'IMAGE'                 : ["test data" for _ in range(n)],
    'IS_PRIORITY'           : [random.choice(data['IS_PRIORITY']) for _ in range(n)],
    'DAY_OF_WEEK'           : [str(random.choice(data['DAY_OF_WEEK'])) for _ in range(n)],
    'TYPE'                  : [random.choice(data['TYPE']) for _ in range(n)],
    'RELIGION_ID'           : [str(random.choice(data['RELIGION'])) for _ in range(n)],
    'GENDER_ID'             : [random.choice(data['GENDER']) for _ in range(n)],
    'SEGMENTATION_ID'       : [str(random.choice(data['SEGMENTATION'])) for _ in range(n)],
    'LOCATION_ID'           : [str(random.choice(data['LOCATION'])) for _ in range(n)],
    'AUM_ID'                : [str(random.choice(data['AUM'])) for _ in range(n)],
    'ACCOUNT_AGE_ID'        : [str(random.choice(data['ACCOUNT_AGE'])) for _ in range(n)],
    'TRANSACTION_TIME_ID'   : [str(random.choice(data['TRANSACTION_TIME'])) for _ in range(n)],
    'START_DATE'            : [generate_random_date(datetime.strptime('01/11/2024', '%d/%m/%Y'), datetime.strptime('30/06/2025', '%d/%m/%Y')) for _ in range(n)],
    'END_DATE'              : [generate_random_date(datetime.strptime('31/07/2025', '%d/%m/%Y'), datetime.strptime('31/12/2025', '%d/%m/%Y')) for _ in range(n)],
    'IS_DELETED'            : [0 for _ in range(n)],
    'IS_OTHER'              : [0 for _ in range(n)],
    'UPDATE_BY'             : ['Camdun' for _ in range(n)],
    'UPDATED_TIME'          : [times for _ in range(n)],
    'CREATED_BY'            : ['Camdun' for _ in range(n)],
    'CREATED_TIME'          : [times for _ in range(n)]
})

brands = [random.choice(brand_df.values) for _ in range(n)]

master_promo[['BRAND', 'CATEGORY_ID', 'MCC_CATEGORY_ID']] = brands

master_promo = master_promo[['ID',
'TITLE',
'DESCRIPTION',
'DESCRIPTION_DETAIL',
'TERM_CONDITION',
'IMAGE',
'IS_PRIORITY',
'DAY_OF_WEEK',
'TYPE',
'BRAND',
'CATEGORY_ID',
'MCC_CATEGORY_ID',
'RELIGION_ID',
'GENDER_ID',
'SEGMENTATION_ID',
'LOCATION_ID',
'AUM_ID',
'ACCOUNT_AGE_ID',
'TRANSACTION_TIME_ID',
'START_DATE',
'END_DATE',
'IS_DELETED',
'IS_OTHER',
'UPDATE_BY',
'UPDATED_TIME',
'CREATED_BY',
'CREATED_TIME']]
master_promo['CATEGORY_ID'] =master_promo['CATEGORY_ID'].astype('Int64')
master_promo['MCC_CATEGORY_ID'] =master_promo['MCC_CATEGORY_ID'].astype('Int64')

# master_promo

In [8]:
master_user.to_csv('master_user.csv', index=False)
# USER_BRAND_METRICS.to_csv('user_brand_metrics.csv', index=False)
# SEGMENTATION_CATEGORY_METRICS.to_csv('segmentation_category_metrics.csv', index=False)
# master_promo.to_csv('master_promo.csv', index=False)

In [48]:
pd.set_option('display.max_rows', 5000)
master_promo.select_dtypes(int).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   IS_PRIORITY      102 non-null    int64
 1   CATEGORY_ID      102 non-null    Int64
 2   MCC_CATEGORY_ID  102 non-null    Int64
 3   GENDER_ID        102 non-null    int64
 4   IS_DELETED       102 non-null    int64
 5   IS_OTHER         102 non-null    int64
dtypes: Int64(2), int64(4)
memory usage: 5.1 KB

In [1]:
import pandas as pd
master_user = pd.read_csv('master_user.csv')

In [7]:
# Generate all combinations of list1 and list2
# combinations = list(itertools.product(master_user['ID'], data['SCORE']))

# USER_BRAND_METRICS = pd.DataFrame(combinations, columns=['USER_ID', 'SCORE'])
n = len(master_user)
times = datetime.now().strftime('%Y-%m-%d %H:%M:%S %z')

# % ARABICA	1	2

USER_BRAND_METRICS = pd.DataFrame({
    'ID'                : [str(nanoid.generate(size=21)) for _ in range(n)],
    'USER_ID'           : master_user['ID'].values.tolist(),
    'BRAND'             : ['% ARABICA' for _ in range(n)],
    'CATEGORY_ID'       : [1 for _ in range(n)],
    'MCC_CATEGORY_ID'   : [2 for _ in range(n)],
    'RANKING'           : [1 for _ in range(n)],
    'UPDATE_BY'         : ['Camdun' for _ in range(n)],
    'UPDATED_TIME'      : [times for _ in range(n)],
    'CREATED_BY'        : ['Camdun' for _ in range(n)],
    'CREATED_TIME'      : [times for _ in range(n)]
})

In [9]:
USER_BRAND_METRICS.to_csv('user_brand_metrics.csv', index=False)